---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Icon } from 'astro-icon/components'
import CallToAction from '../components/CallToAction.astro'
---

<DefaultLayout title="Nexelab Home">
  <Hero />
  <ContentMedia imgSrc="/ideo-to-reality.jpg">
    <h2>Innovations Numériques</h2>
    <p class="text-2xl">
      Nous croyons en la puissance de la technologie pour transformer les idées en réalité.<br><br>
      Notre équipe talentueuse de développeurs expérimentés combine expertise technique et créativité pour créer des solutions adaptées à vos besoins spécifiques. 
    </p>
    <div class="flex flex-col gap-3 min-[500px]:flex-row">
      <a class="button has-icon" href="https://calendly.com/vincent-verges/30min">
        <Icon name="ion:call" />
        Un projet? Discutons-en!
      </a>
    </div>
  </ContentMedia>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Nos Compétences</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:cellphone" title="Application Mobile">
          Découvrez notre expertise en développement d'applications mobiles. Chez <b>NEXELAB</b>, nous concevons des applications <b>iOS</b> et <b>Android</b> captivantes, sur mesure pour vos besoins. Transformez vos idées en réalité mobile avec nous.
          <span class="logo-tech">
            <img src="/logo/apple.png">
            <img src="/logo/android.png">
            <img src="/logo/unity.png">
            </span>
          <div class="flex flex-col gap-3 min-[500px]:flex-row">
            <a class="button has-icon color-secondary" href="/mobile">
              En savoir plus
            </a>
          </div>
        </Feature>
        <Feature icon="mdi:robot-mower" title="Objets Connectés">
          Découvrez notre expertise en Internet des Objets. Chez <b>NEXELAB</b>, nous créons des solutions <b>connectées sur mesure</b> pour transformer vos appareils en intelligents. Avec notre savoir-faire en <b>IoT</b>, nous réalisons vos projets les plus innovants.
          <span class="logo-tech">
          <img src="/logo/raspberry.png" alt="Raspberry Pi">
          <img src="/logo/arduino.png" alt="Arduino">
          <img src="/logo/nvidia.png" alt="Nvidia Vision">
          <img src="/logo/STM.png" alt="STMElectronics">
          </span>
          <div class="flex flex-col gap-3 min-[500px]:flex-row">
            <a class="button has-icon color-secondary" href="/iot">
              En savoir plus
            </a>
          </div>
        </Feature>
        <Feature icon="mdi:web" title="Application Web">
          Explorez notre savoir-faire en développement d'applications web. Chez <b>NEXELAB</b>, nous concevons des solutions <b>web</b> sur mesure pour répondre à vos besoins uniques. Nous transformons vos idées en réalité digitale.
          <span class="logo-tech">
            <img src="/logo/astro.png" alt="Astro.build">
            <img src="/logo/vuejs.png" alt="VueJs Application">
            <img src="/logo/ktor.png" alt="Kotlin Web Application">
            <img src="/logo/symfony.png" alt="Symfony">
            <img src="/logo/laravel.png" alt="Laravel">
            </span>
          <div class="flex flex-col gap-3 min-[500px]:flex-row">
            <a class="button has-icon color-secondary" href="/web">
              En savoir plus
            </a>
          </div>
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/nexterrain/nexterrain-1.WEBP" reverseImg={true}>
    <h2>Nexterrain</h2>
    <p class="text-2xl">
      Nexterrain est un projet novateur de téléopération permettant le contrôle à distance d'une voiture radiocommandée via un smartphone ou un ordinateur.
      <br><br>
      Notre objectif est de repousser les limites de la connectivité et de la télécommande, offrant une expérience immersive et interactive.
    </p>
    <div class="flex flex-col gap-3 min-[500px]:flex-row">
      <a class="button has-icon" href="/nexterrain">
        <Icon name="ion:car" />
        Découvrez notre projet
      </a>
    </div>
  </ContentMedia>
  <ContentMedia imgSrc="/nexterrain/nexterrain-2.WEBP">
    <h2>Sans limites</h2>
    <p class="text-2xl">
      Grâce à Nexterrain, les utilisateurs peuvent piloter la voiture depuis n'importe où, en utilisant simplement leur smartphone ou leur ordinateur, offrant ainsi une nouvelle dimension au plaisir de la conduite radiocommandée.
      <br><br>
      Que ce soit pour le plaisir personnel, la compétition entre amis ou des applications plus professionnelles telles que la surveillance à distance, Nexterrain ouvre de nouvelles possibilités passionnantes dans le monde de la téléopération.
    </p>
    <div class="flex flex-col gap-3 min-[500px]:flex-row">
      <a class="button has-icon color-secondary" href="https://calendly.com/vincent-verges/30min">
        <Icon name="ion:call" />
        Prenons le temps d'en discuter
      </a>
    </div>
  </ContentMedia>
  <CallToAction />
</DefaultLayout>

<style lang="css">
  .logo-tech {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .logo-tech img {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

</style>