---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
    <section class="my-12">
      <div class="container">
        <h1>Mentions Légales</h1>
      </div>
    </section>
    <section class="my-12">
      <div class="space-content container">
        <h2>Éditeur du site:</h2>
        <p class="text-2xl">Vincent Verges</p>
        <p class="text-2xl">26 rue des grandes terres 74330 Epagny Metz-Tessy</p>
        <p class="text-2xl">06 99 68 64 15</p>
        <p class="text-2xl">vincent.verges@gmail.com</p>
        <h2>Directeur de publication:</h2>
        <p class="text-2xl">Vincent Verges</p>
        <h2>Hébergement du site:</h2>
        <p class="text-2xl">Vincent Verges</p>
        <h2>Propriété intellectuelle:</h2>
        <p class="text-2xl">Le contenu de ce site web est protégé par les lois sur la propriété intellectuelle et est la propriété exclusive de Vincent Verges. Toute reproduction ou utilisation non autorisée, en tout ou en partie, est strictement interdite.</p>
        <h2>Protection des données personnelles:</h2>
        <p class="text-2xl">Conformément aux réglementations sur la protection des données personnelles, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Pour exercer ce droit, veuillez nous contacter à l'adresse vincent.verges@gmail.com .</p>
        <h2>Liens externes:</h2>
        <p class="text-2xl">Ce site web peut contenir des liens vers des sites externes sur lesquels nous n'avons aucun contrôle. Nous déclinons toute responsabilité quant au contenu de ces sites externes.</p>
        <h2>Responsabilité:</h2>
        <p class="text-2xl">Vincent Verges ne saurait être tenu responsable des dommages directs ou indirects causés par l'utilisation de ce site web.</p>
        <h2>Modification des mentions légales:</h2>
        <p class="text-2xl">Vincent Verges se réserve le droit de modifier les présentes mentions légales à tout moment et sans préavis. Nous vous conseillons donc de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>
        <h2>Crédits:</h2>
        <p class="text-2xl">Le design et le développement de ce site ont été réalisés par Vincent Verges.</p>
    </div>
    </section>
  </DefaultLayout>
  